.env
.DS_Store
DS_Store
/Users/yuriy/Desktop/MyNorth/tts_data_augmentation/tts_data_augmentation/data/generatedData/preprocessedCsv.csv

# Ignore all wav files in the data/wavs folder
filtering_framework/data/
filtering_framework/embeddings/
filtering_framework/args/
filtering_framework/checkpoints/



/Users/tmsantos/Documents/TTS_Augmentation/tts_data_augmentation/filtering_framework/utils.ipynb
/Users/tmsantos/Documents/TTS_Augmentation/tts_data_augmentation/filtering_framework/__pycache__/
data/

.env
*.log